.categorylist__li {
  margin: 25px 5px 25px 20px;
  color: #919191;
}

.activecategory {
  border: 1px solid rgb(145, 145, 145);
  padding: 10px 20px;
  border-radius: 5px;
  color: #000000;
  margin: 0;
  background: #f5f5f5;
}
